




    .sectionCarrousel{
        margin-top: 27px;
        position: relative;
    
    }
    
    .imageSlideshow{
        width: 89%;
        height: 255px;
        margin-left: 5%;
        border-radius: 13px;
    }
    
    .SlideshowLeft{
    position: absolute;
    height: 20px;
    width: 12px;
    left: 7%;
    top: 46%;
    }
    .SlideshowRight{
        position: absolute;
        height: 20px;
    width: 12px;
    right: 7%;
        top: 46%;
    
    }
    .SlideshowNumber{
        display: none !important;
    }
    
      
      @media (min-width: 992px) {
        .sectionCarrousel{
            margin-top: 47px;
            position: relative;
        
        }
        .imageSlideshow{
            width: 86%;
            height: 414px;
            margin-left: 7%;
            border-radius: 25px;
        }
        .SlideshowLeft{
            position: absolute;
            height: 79px;
            width: 46px;
            left: 9%;
    top: 38%;
            }
            .SlideshowRight{
                position: absolute;
                height: 79px;
                width: 46px;
                top: 36%;
                right: 9%;
            }
            .SlideshowNumber{
                display: block !important;
                position: absolute;
                top: 83%;
                left: 49%;
                color: white;
                font-size: 18px;
            }
      }
    
    