.sectionCollapse{
    display: flex;
    width: 86%;
    justify-content: space-between;
    margin-left: 7%;
    margin-top: 7px;
    margin-bottom: 76px;
}

.divCollapse{
    width: 47%;
}
@media (max-width: 991px){
    .divCollapse{
        width: 100%;
    }
    .sectionCollapse{
        display: block;
        width: 90%;
    justify-content: space-between;
    margin-left: 5%;

    }
} 