@media (min-width: 375px) {

    .section2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    
    }
    
    }
    @media (min-width: 992px) {
    
        .section2{
            background-color: #F7F7F7;
            margin-left: 7%;
            margin-right: 6%;
        margin-top: 19px;
        border-radius: 20px;
      
        }
    
      }