.section1-about{

}

.body_presentation-about{
    margin-left: 5%;
    margin-top: 17px;
    border-radius: 10px;
    height: 223px;
    width: 90%;
}

.section2-about{
    margin-top: 15px;
    width: 90%;
    margin-left: 5%;
}