
header{
display : flex;
justify-content: space-between;
margin-left: 20px;
margin-top: 20px;
margin-right: 20px;
height: 47px;
align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
  width: 135px;
  height: 33px;
}

.nav_text{
color: #FF6060;
font-weight: 500;
font-size: 12px;
line-height: 142.6%;
text-transform: uppercase
}

.nav_text:hover{
    text-decoration: underline;
}