






@media (min-width: 375px) {
    .body_presentation-about{
        margin-left: 5%;
        margin-top: 17px;
        border-radius: 10px;
        height: 223px;
        width: 90%;
    }
    }
    @media (min-width: 992px) {
        .section1-about{
            margin-top: 54px;
        }
            .body_presentation-about{
                height: 223px;
                width: 86%;
                margin-left: 7%;
                border-radius: 23px;
                content:url("../../images/about-pres.png");
                height: 223px;
    
    
                
    }

    }