@media (min-width: 375px) {

    .section1{
        margin-top: 16px;
        margin-left: 20px;
        margin-right: 20px;
        height: 111px;
        position: relative;
        overflow: hidden;
        border-radius: 11px;
        
    }
    .body_presentation{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .body_presentation-text{
        color: white;
        text-align: left;
        font-size: 26px;
        line-height: 29px;
        position: relative;
        top: 26px;
        left: 17px;
        width: 63%;
    
    
    }
}

@media (min-width: 992px) {

    .section1{
        margin-top: 89px;
        height: 248px;
        margin-left: 7%;
        margin-right: 6%;
        
    }
    .body_presentation{
        position: absolute;
        top: unset;
        left: unset;
        transform: unset;
        width: 99%;
        height: 224px;
        border-radius: 19px;
        
    }
    .body_presentation-text{
        color: white;
        text-align: left;
        font-size: 50px;
        line-height: 29px;
        position: relative;
        top: 38%;
        left: 22%;
    
    
    }
}